address,
article,
aside,
blockquote,
body,
cite,
div,
dl,
dt,
dd,
em,
figcaption,
figure,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
li,
main,
nav,
ol,
p,
section,
span,
ul {
  background: transparent;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}

html {
  background-color: rgb(34, 110, 156); 
}

body {
 
  background-color: rgb(34, 110, 156);
  font-family: 'Carattere',
  cursive;
  line-height: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  
}

body {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-areas: "header  header"
    "intro    faq"
    "articles faq"
    "footer   footer";
  grid-column-gap: 15px;
}

body>header {
  grid-row: 1;
  grid-column: 1/-1;
}

body>article {
  grid-area: intro;
}

body>aside {
  grid-area: faq;
}

body>section {
  grid-area: articles;
}

body>footer {
  grid-area: footer;
}

/* Body Header Styles */

body>header>nav li {
  width: 20%;
  
}


header h1  {
  
    
   
  border:10px solid rgb(7, 40, 73);
  margin:20px;
  font-size: 3em;
  text-align: center;
  background-color:rgb(34, 110, 156)
  
  
}

h1 {
  color:  rgb(7, 40, 73);
  
  
  
}
h2 {
  text-align: center;
  max-width: 32%;
  color:rgb(7, 40, 73);
  font-size: 2em;
  border:10px solid rgb(7, 40, 73);
  
}

nav {
  
  
  border:10px solid rgb(7, 40, 73);
  display:inline-block;
  width: 30%;
  
  margin: 15px;

  text-align: center;
}

nav ul li {
  
  margin-left: auto;
  margin-right: auto;
}


nav>ul {
  line-height: 2em;
  list-style-type: none;
  padding-left: 5px;
  
  
  
  
  
}

/* Adding these properties will make the color fill nav container. I am currently setting the body color to match the nav so that it looks filled by inheritance. 
 overflow:hidden;
  background-color: blue;
Found this fix on w3schools
https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_black
*/
nav li {
  display: block;
  overflow:hidden;
  
 

}

nav a {
  text-decoration: none;
  
  text-align: center;
  background-color:rgb(93, 119, 158);
  border: 5px solid rgb(7, 40, 73);
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}

nav a:link,
nav a:visited {
  color: rgb(7, 40, 73)
}

nav a:hover,
nav a:active {
  
  color: rgb(42, 91, 170)
}

/*All links */

a:link,
a:visited {
  color: rgb(7, 40, 73);
}

a:hover,
a:active {
  background-color: rgb(93, 119, 158);
  color: rgb(42, 91, 170)
}

/* Left Column Paragraph Styles */

article p {
  color: rgb(7, 40, 73);
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  
}

/* Left Column Styles */

article {
  padding: 1.5em;

  
  margin-right: 25px;
  
}

article ol {
  padding-left: 25px;
}

article img {
  border:20px solid rgb(7, 40, 73);
  display: block;
  width: 50%;
  padding-left: 0;
}

/* Right Column Styles */

aside {
  font-size: 30px;
  color: rgb(7, 40, 73);
  margin-top: 50px;

}

aside img {
  border: 20px solid rgb(7, 40, 73);
  display: block;
  width: 65%;
}

aside p {
  margin: 20px;
  border:10px solid rgb(7, 40, 73);
  color: rgb(7, 40, 73);
  text-align: center;
  font-size: 40px;
  line-height: 1.6em;
}






/* Contact Info Styles */

/* text area*/
textarea {
  width: 50%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 10px solid rgb(7, 40, 73);
  border-radius: 10px;
  background-color: rgb(69, 97, 134);
  font-size: 16px;

}

/* Inputs submit reset*/
input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0px;
  box-sizing: border-box;
  border: 5px solid rgb(7, 40, 73);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  outline: navy;
}

input[type=text]:focus {
  border: 20px navy;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 5px solid rgb(7, 40, 73);
  -webkit-transition: 1.5s;
  transition: 1.5s;
  outline: navy;
}

input[type=submit] {
  background-color: rgb(42, 91, 170);
  border-radius: 50px;
  width: 10%;
  color: navy;
}

input[type=submit]:hover {
  background-color: rgb(93, 119, 158);
  border-radius: 50px;

}


input[type=reset]:hover {
  background-color: rgb(93, 119, 158);
  border-radius: 50px;

}

input[type=reset] {
  background-color: rgb(42, 91, 170);
  border-radius: 50px;
  width: 10%;
  color: navy;
}
footer p {
  line-height: 1em;
  margin: 1em;
}

footer {
  font-size:2em ;
  text-align: center;
  border: 20px solid rgb(7, 40, 73);
  margin: 10px;
}
/* image section */

div.gallery {
  padding:0px;
  
}

div.gallery:hover {
  border: 10px solid rgb(15, 47, 99);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  color:rgb(7, 40, 73);
  font-size: 150%;
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  margin: 10px;
  width: 30%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 60%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
}
.accordion-item {
  
 background-color: rgb(34, 110, 156);
 
}

.accordion-button {
 background-color: rgb(34, 110, 156);

}
.card {
  border: 10px solid rgb(7, 40, 73);
  background-color: rgb(34, 110, 156);
}


